@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: rgb(85, 85, 85);
}

canvas {
    background-color: black;
    width: 500px;
    height: 500px;
}

.inf {
    margin: 0.5rem;
    font-size: 2.5rem;
}

.painel {
    position: relative;
    top: 50px;
    background-color: rgb(31, 31, 31);
    margin-left: 10px;
    border-radius: 20px;
    display: none;
    padding: 10px 0 0 30px;
    width: 650px;
    height: 360px;
    color: white;
}

span.destaque {
    color: rgb(255, 230, 0);
    font-weight: bold;
}


#botoes {
    display: flex;
    justify-content: center;
}

.botao {
    height: 70px;
    width: 150px;
    margin: 0 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(32, 32, 32);
    color: white;
    border: none;
    border-radius: 20px;
}

.botao:hover {
    transform: scale(1.05);
}

.ativo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#paineis {
    margin-left: 20px;

}

#direcionais {
    display: none;
}

@media screen and (max-width: 800px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .painel {
        width: 90%;
        height: auto;
    }

    #paineis {
        position: absolute;
        top: 1300px;
    }

    #botoes {
        flex-direction: column;
        align-items: center;
    }

    .botao {
        width: 80%;
    }

    #direcionais {
        display: block;
        margin-top: 20px;
        position: relative;
        width: 600px;
        margin-top: 80px;
    }

    .direcional-cll {
        width: 200px;
        height: 200px;
        margin: 0;
        position: absolute;
        background-color: rgb(255, 0, 0);
        border: none;
        cursor: pointer;
        border-radius: 10px;
        color: white;
        font-size: 100px;
    }

    .direcional-cll:hover {
        background-color: rgb(207, 14, 14);
    }
    
    #btn-du {
        top: 0;
        left: 200px;
    }
    #btn-dr {
        top: 200px;
        left: 400px;
    }
    #btn-dd {
        top: 400px;
        left: 200px;
    }
    #btn-dl {
        top: 200px;
        left: 0;
    }
}

